# environment variables
.env

# macOS custom attributes
.DS_Store

# python interpreter
**.pyc

# python test file
milestone2.py

# Jupyter Notebook files
**.ipynb

# virtual environment
/SCRTSibyl
/SCRTSybil
/venv-secret

# Local Datasets
/data
