# environment variables
.env

# macOS custom attributes
.DS_Store

# python interpreter
**.pyc

# Jupyter Notebook files
**.ipynb

# virtual environment
/SCRTSibyl
/SCRTSybil
/venv-secret

# Json files
**.json

# Dataset
/data
