asttokens==2.0.5
click==8.0.3
colorama==0.4.4
executing==0.8.2
Flask==2.0.2
Flask-Cors==3.0.10
icecream==2.1.1
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
nulltype==2.3.1
plaid-python==8.9.0
Pygments==2.11.2
python-dateutil==2.8.2
python-dotenv==0.19.2
six==1.16.0
urllib3==1.26.8
Werkzeug==2.0.2
